body {
    background: linear-gradient(to right, #e6f7ff, #87CEEB);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
    /* Light blue background */
}

header {
    position: relative;
    /* background: linear-gradient(to right, #e6f7ff, #87CEEB); */
    /* Yellow */
    color: #003366;
    /* Dark blue text */
    text-align: center;
    padding: 30px 0;
    /* Increased padding */
    font-size: 48px;
    /* Larger font size */
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 a {
    text-decoration: none;
    color: #003366;
    /* Dark blue color for the text */
    transition: color 0.3s ease;
    /* Add smooth transition on hover */
    font-size: 64px;
}

h1 a:hover {
    color: gold;
    /* Gold color on hover */
}

h1 span {
    content: '/';
    margin: 0 15px;
    color: #003366;
    /* Dark blue color for the divider */
    font-size: 64px;
    /* Adjust the size of the divider */
}

nav {
    /* Darker blue */
    padding: 15px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: #003366;
    /* Lighter blue */
}

nav a:hover {
    background-color: #004080;
    /* Darker shade on hover */
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.rounded-box {
    background-color: #ffffff;
    /* White box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition on hover */
}

.rounded-box:hover {
    transform: scale(1.1);
    /* Increase size on hover */
}

.enlarged {
    transform: scale(1.5);
    /* Larger size */
}

.nice-header {
    font-family: 'Pacifico', cursive;
}

.trash-header {
    font-family: 'Rubik Moonrocks', sans-serif;
}

.nice-selected {
    background-image: url("../images/golden.jpg");
}