body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
}

.nice {
    background: linear-gradient(to right, #e6f7ff, #87CEEB);
}

.trash {
    background: linear-gradient(to right, #A9A9A9, #FF2400);
}

header {
    position: relative;
    text-align: center;
    padding: 30px 0;
    font-size: 48px;
}

.rounded-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.rounded-box:hover {
    transform: scale(1.1);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 a {
    text-decoration: none;
    color: #003366;
    transition: color 0.3s ease;
    font-size: 64px;
}


h1 span {
    content: '/';
    margin: 0 15px;
    color: #003366;
    font-size: 64px;
}

nav {
    padding: 15px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: #003366;
}

nav a:hover {
    background-color: #004080;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.enlarged {
    transform: scale(1.5);
}

.nice-header {
    font-family: 'Pacifico', cursive;
}

.nice-header:hover {
    color: gold;
}

.trash-header {
    font-family: 'Rubik Moonrocks', sans-serif;
}

.trash-header:hover {
    color: darkred;
}

.nice-selected {
    background-image: url("../images/golden.jpg");
}

.trash-selected {
    background-color: darkred;
}

nav a.trash-selected:hover,
nav a.trash-back:hover {
    background-color: rgba(128, 0, 0, 0.8);
}

.items {
    display: flex;
    flex-direction: column;

}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.8);
    margin: 16px;
    background-color: #F5F5F5;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}


.card p {
    padding: 12px;
    margin: 0;
}

.name {
    font-size: 24px;
}

.rating {
    padding: 12px;
    margin: 0;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.trash-color {
    color: black;
}

.trash-back {
    background-color: black;
}

.trash-card {
    color: white;
    background-color: black;
    border: 1px solid black;
}

.trash-card img {
    border-bottom: 1px solid black;
}

.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {}