body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
    /* Light blue background */
}

.nice {
    background: linear-gradient(to right, #e6f7ff, #87CEEB);
}

.trash {
    background: linear-gradient(to right, #A9A9A9, #FF2400);
}

header {
    position: relative;
    /* background: linear-gradient(to right, #e6f7ff, #87CEEB); */
    /* Dark blue text */
    text-align: center;
    padding: 30px 0;
    /* Increased padding */
    font-size: 48px;
    /* Larger font size */
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 a {
    text-decoration: none;
    color: #003366;
    /* Dark blue color for the text */
    transition: color 0.3s ease;
    /* Add smooth transition on hover */
    font-size: 64px;
}

h1 a:hover {

    /* Gold color on hover */
}

h1 span {
    content: '/';
    margin: 0 15px;
    color: #003366;
    /* Dark blue color for the divider */
    font-size: 64px;
    /* Adjust the size of the divider */
}

nav {
    /* Darker blue */
    padding: 15px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: #003366;
    /* Lighter blue */
}

nav a:hover {
    background-color: #004080;
    /* Darker shade on hover */
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.rounded-box {
    background-color: #ffffff;
    /* White box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition on hover */
}

.rounded-box:hover {
    transform: scale(1.1);
    /* Increase size on hover */
}

.enlarged {
    transform: scale(1.5);
    /* Larger size */
}

.nice-header {
    font-family: 'Pacifico', cursive;
}

.nice-header:hover {
    color: gold;
}

.trash-header {
    font-family: 'Rubik Moonrocks', sans-serif;
}

.trash-header:hover {
    color: darkred;
}

.nice-selected {
    background-image: url("../images/golden.jpg");
}

.trash-selected {
    background-color: darkred;
}

nav a.trash-selected:hover,
nav a.trash-back:hover {
    background-color: rgba(128, 0, 0, 0.8);
}

.items {
    display: flex;
    flex-direction: column;

}

.card {
    border: 1px solid #ddd;
    /* Add a border for separation */
    border-radius: 8px;
    /* Rounded corners for a modern look */
    overflow: hidden;
    /* Hide overflow content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow for depth */
    margin: 16px;
    /* Add some margin for spacing between cards */
    background-color: #F5F5F5;
}

.card img {
    width: 100%;
    /* Make the image fill the container width */
    height: auto;
    /* Maintain aspect ratio */
    border-bottom: 1px solid #ddd;
    /* Add a border at the bottom of the image */
}


.card p {
    padding: 12px;
    /* Add padding to paragraphs for spacing */
    margin: 0;
    /* Remove default margin */
}

.name {
    font-size: 24px;
}

.rating {
    padding: 12px;
    /* Add padding to paragraphs for spacing */
    margin: 0;
    /* Remove default margin */
}

/* Optional: Hover effect for a subtle interaction */
.card:hover {
    transform: scale(1.05);
    /* Scale the card on hover */
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

.trash-color {
    color: black;
}

.trash-back {
    background-color: black;
}

@media screen and (min-width: 768px) {
    .items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {}